@tailwind base;
@tailwind components;
@tailwind utilities;

select.dt-input {
    padding-right: 1.5rem !important;
    width: fit-content;
    background-position: right 0 center;
    margin: 0 0.2rem;
}

.dt-paging, .dt-info, .dt-length, .dt-search {
    font-size: 0.875rem;
    padding: 0 1rem;
}

div.dt-layout-full {
    overflow-x: scroll;
}
